@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600;700&display=swap');

:root{
    --grass: #48D0B0;
    --dark-grass: #28BE9C;
    --fire: #FB6C6C;
    --dark-fire: #DC4444;
    --water: #77BDFE;
    --dark-water: #50ABFC;
    --light-water: #7AC7FF;
    --electric:#fed330;
    --dark-electric: #E3B506;
    --normal:#a4b0be ;
    --dark-normal:#78899F;
    --poison: #9F5BBA;
    --dark-poison: #843BA1;
    --ground: #CA8179;
    --dark-ground: #A9574E;
    --dark-fairy: #F06999;
    --fairy: #f78fb3;
    --fighting: #ff793f;
    --dark-fighting:#F3510C;
    --bug: #05c46b;
    --dark-bug: #00A057;
    --psychic: #3c40c6;
    --dark-psychic: #1A1EBE;
    --rock: #AE4A20;
    --dark-rock: #8C2F08;
    --ghost: #30336b;
    --dark-ghost: #1C1E53;
    --ice: #81ecec;
    --dark-ice: #58DBDB;
    --dragon: #ED4C67;
    --dark-dragon: #DB2747;
    --dark: #1C2431;
    --dark-dark: #111B29;
    --steel: #535c68;
    --dark-steel: #3B434F;
    --flying: #97D2D5;
    --dark-flying: #66AFB3;
    --white: #E5E5E5;
    --gray: #F5F5F5;
    font-size: 62.5%;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background: var(--white);
    font-family: 'Montserrat', sans-serif;    
    width: 100vw;
    height: 100vh;    
   
}
a{
    text-decoration: none;
}
.container{
    height: 100%;
    width: 100%;
    margin: auto;
    padding: 0 2.8rem;
}
.pokeball{
    position: absolute;
    width: 15rem;
    height: 15rem;
    right: 0rem;
    top: 0;
}
nav{
    display: flex;
    justify-content: space-between;
    padding-top: 7rem;
}
header{
    font-size: 1.8rem;
    padding-top: 5rem;
}
.cards{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 3rem;
}
.card{ 
    display: grid;
    grid-template-rows: .5fr .5fr 3fr;
    height: 14.5rem;
    width: 24.5rem; 
    border-radius: 1rem;
    margin: 1rem 0;
    padding: .2rem 2rem;
    color: var(--white);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.card .number{
    text-align: right;
    font-size: 1.5rem;
    font-weight: 600;
    opacity: 0.8;
} 
.card .name{
    font-size: 1.6rem;
}
.card .info{
    display: flex;
    justify-content: space-between;
}
.card .info .types{
    display: flex;
    flex-direction: column; 
    justify-content: center;    
    width: 100%;
}
.card .info .type{
    border-radius: 2rem;
    text-align: center;
    margin-top: .5rem;
    padding: .5rem;
}
.card img{    
    width: 50%;
}

.hide{
    display: none;
}
.grass{
    background-color: var(--grass);
}
.grass .number{
    color: var(--dark-grass)
}
.grass .info .type{
    background: var(--dark-grass);
}

.fire{
    background-color: var(--fire);
}
.fire .number{
    color: var(--dark-fire)
}
.fire .info .type{
    background: var(--dark-fire);
}

.water{
    background-color: var(--water);
}
.water .number{
    color: var(--dark-water)
}
.water .info .type{
    background: var(--dark-water);
}

.bug{
    background-color: var(--bug);
}
.bug .number{
    color: var(--dark-bug)
}
.bug .info .type{
    background: var(--dark-bug);
}

.normal{
    background-color: var(--normal);
}
.normal .number{
    color: var(--dark-normal)
}
.normal .info .type{
    background: var(--dark-normal);
}

.poison{
    background-color: var(--poison);
}
.poison .number{
    color: var(--dark-poison)
}
.poison .info .type{
    background: var(--dark-poison);
}

.electric{
    background-color: var(--electric);
}
.electric .number{
    color: var(--dark-electric)
}
.electric .info .type{
    background: var(--dark-electric);
}

.ground{
    background-color: var(--ground);
}
.ground .number{
    color: var(--dark-ground)
}
.ground .info .type{
    background: var(--dark-ground);
}

.fairy{
    background-color: var(--fairy);
}
.fairy .number{
    color: var(--dark-fairy)
}
.fairy .info .type{
    background: var(--dark-fairy);
}

.fighting{
    background-color: var(--fighting);
}
.fighting .number{
    color: var(--dark-fighting)
}
.fighting .info .type{
    background: var(--dark-fighting);
}

.psychic{
    background-color: var(--psychic);
}
.psychic .number{
    color: var(--dark-psychic)
}
.psychic .info .type{
    background: var(--dark-psychic);
}

.rock{
    background-color: var(--rock);
}
.rock .number{
    color: var(--dark-rock)
}
.rock .info .type{
    background: var(--dark-rock);
}

.rock{
    background-color: var(--rock);
}
.rock .number{
    color: var(--dark-rock)
}
.rock .info .type{
    background: var(--dark-rock);
}

.ghost{
    background-color: var(--ghost);
}
.ghost .number{
    color: var(--dark-ghost)
}
.ghost .info .type{
    background: var(--dark-ghost);
}

.ice{
    background-color: var(--ice);
}
.ice .number{
    color: var(--dark-ice)
}
.ice .info .type{
    background: var(--dark-ice);
}

.dragon{
    background-color: var(--dragon);
}
.dragon .number{
    color: var(--dark-dragon)
}
.dragon .info .type{
    background: var(--dark-dragon);
}

.dark{
    background-color: var(--dark);
}
.dark .number{
    color: var(--dark-dark)
}
.dark .info .type{
    background: var(--dark-dark);
}

.steel{
    background-color: var(--steel);
}
.steel .number{
    color: var(--dark-steel)
}
.steel .info .type{
    background: var(--dark-steel);
}

.flying{
    background-color: var(--flying);
}
.flying .number{
    color: var(--dark-flying)
}
.flying .info .type{
    background: var(--dark-flying);
}
@media (min-width:425px){
    .cards{
        flex-direction: row;
        margin-top: 3rem;
    }
    .card{
        height: 12.5rem;
        width: 17.5rem;         
    }
}

@media (min-width:1024px){
    .container{
        max-width: 1440px;
    }
    .pokeball{
        height: 25rem;
        width: 25rem;
    }
    .card{
        height: 18.5rem;
        width: 25rem;         
    }
    .card .number{
        font-size: 1.6rem;
    }
    .card .info{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    .card .info .name{
        font-size: 2rem;
    }
    .card .info .types{
        display: flex;
        flex-direction: row;
        margin-top: .1rem;
    }
    .card  .info .type{        
        margin-left: .5rem;        
        padding: .5rem 1.5rem;        

    }.card img{ 
        margin-top: 1rem;
    }
}

@media (min-width: 2560px){
    .container{
        max-width: 2560px;
    }
    .pokeball{
        height: 35rem;
        width: 35rem;
    }
    .card{
        height: 42.5rem;
        width: 55rem;         
    }
    .card .number{
        font-size: 3.6rem;
    }
    .card .info{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    .card .name{
        font-size: 3rem;
    }
    .card  .info .type{   
        font-size: 2rem;     
        margin-left: .5rem;        
        padding: 1.5rem 2.5rem;  
        border-radius: 4rem;      

    }.card img{ 
        margin-top: 1rem;
    }
}